body {
  /* font-family: "Roboto", sans-serif; */
}

.App {
  background-image: url("./_assets/barberback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.icons {
  font-size: 4rem;
  color: white;
  cursor: pointer;
  /* margin-bottom: 1.6rem; */
}

.icons:hover {
  transform: scale(1.1, 1.1);
}
/* 
@keyframes btn {
  0% {
    background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(0, 4, 255, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(255, 0, 0, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(0, 4, 255, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
  8% {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0 12.5%,
      rgba(255, 0, 0, 1) 0 25%,
      rgba(255, 255, 255, 1) 0 37.5%,
      rgba(0, 4, 255, 1) 0 50%,
      rgba(255, 255, 255, 1) 0 62.5%,
      rgba(255, 0, 0, 1) 0 75%,
      rgba(255, 255, 255, 1) 0 87.5%,
      rgba(0, 4, 255, 1) 0
    );
  }
  16% {
    background: linear-gradient(
      45deg,
      rgba(0, 4, 255, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(255, 0, 0, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(0, 4, 255, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(255, 0, 0, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
  24% {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0 12.5%,
      rgba(0, 4, 255, 1) 0 25%,
      rgba(255, 255, 255, 1) 0 37.5%,
      rgba(255, 0, 0, 1) 0 50%,
      rgba(255, 255, 255, 1) 0 62.5%,
      rgba(0, 4, 255, 1) 0 75%,
      rgba(255, 255, 255, 1) 0 87.5%,
      rgba(255, 0, 0, 1) 0
    );
  }
  32% {
    background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(0, 4, 255, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(255, 0, 0, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(0, 4, 255, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
  40% {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0 12.5%,
      rgba(255, 0, 0, 1) 0 25%,
      rgba(255, 255, 255, 1) 0 37.5%,
      rgba(0, 4, 255, 1) 0 50%,
      rgba(255, 255, 255, 1) 0 62.5%,
      rgba(255, 0, 0, 1) 0 75%,
      rgba(255, 255, 255, 1) 0 87.5%,
      rgba(0, 4, 255, 1) 0
    );
  }
  48% {
    background: linear-gradient(
      45deg,
      rgba(0, 4, 255, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(255, 0, 0, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(0, 4, 255, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(255, 0, 0, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
  56% {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0 12.5%,
      rgba(0, 4, 255, 1) 0 25%,
      rgba(255, 255, 255, 1) 0 37.5%,
      rgba(255, 0, 0, 1) 0 50%,
      rgba(255, 255, 255, 1) 0 62.5%,
      rgba(0, 4, 255, 1) 0 75%,
      rgba(255, 255, 255, 1) 0 87.5%,
      rgba(255, 0, 0, 1) 0
    );
  }
  64% {
    background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(0, 4, 255, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(255, 0, 0, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(0, 4, 255, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
  72% {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0 12.5%,
      rgba(255, 0, 0, 1) 0 25%,
      rgba(255, 255, 255, 1) 0 37.5%,
      rgba(0, 4, 255, 1) 0 50%,
      rgba(255, 255, 255, 1) 0 62.5%,
      rgba(255, 0, 0, 1) 0 75%,
      rgba(255, 255, 255, 1) 0 87.5%,
      rgba(0, 4, 255, 1) 0
    );
  }
  80% {
    background: linear-gradient(
      45deg,
      rgba(0, 4, 255, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(255, 0, 0, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(0, 4, 255, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(255, 0, 0, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
  88% {
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0 12.5%,
      rgba(0, 4, 255, 1) 0 25%,
      rgba(255, 255, 255, 1) 0 37.5%,
      rgba(255, 0, 0, 1) 0 50%,
      rgba(255, 255, 255, 1) 0 62.5%,
      rgba(0, 4, 255, 1) 0 75%,
      rgba(255, 255, 255, 1) 0 87.5%,
      rgba(255, 0, 0, 1) 0
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0 12.5%,
      rgba(255, 255, 255, 1) 0 25%,
      rgba(0, 4, 255, 1) 0 37.5%,
      rgba(255, 255, 255, 1) 0 50%,
      rgba(255, 0, 0, 1) 0 62.5%,
      rgba(255, 255, 255, 1) 0 75%,
      rgba(0, 4, 255, 1) 0 87.5%,
      rgba(255, 255, 255, 1) 0
    );
  }
} */

.razor {
  width: 4rem;
  height: auto;
  pointer-events: none;
}

.links {
  color: #0000ff;
}

.links:hover {
  transform: scale(1.1, 1.1);
  color: red;
}

.btn {
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  /* animation-name: btn;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear; */
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.img {
  width: 25vw;
  height: auto;
}

/* @media (min-width: 992px) {
       .outer-border {/* @media (min-width: 768px) {
    .corner-decoration {
      width: 3.5em;
      margin: -4px;
    }
  }
  
  @media (min-width: 992px) {
    .corner-decoration {
      width: 4em;
      margin: -5px;
    }
  }
  
  @media (min-width: 1200px) {
    .corner-decoration {
      width: 5em;
      margin: -6px;
    }
  }
  
         height: 94%;
       }
   } */

/* 
   @media (min-width: 768px) {
    .vertical-decoration {
      width: 16em;
    }
  }
  
  @media (min-width: 992px) {
    .vertical-decoration {
      width: 20em;
    }
  }
  
  @media (min-width: 1200px) {
    .vertical-decoration {
      width: 27em;
    }
  }
   */

h2 {
  font-size: 3.2rem;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white,
    -1px 1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 1px white,
    0 -1px 1px white, -1px 0 1px white, 3px 3px 1px red, -3px 3px 1px red,
    3px -3px 1px red, -3px -3px 1px red, 3px 2px 1px red, 2px 3px 1px red,
    2px 2px 1px red, 2px -3px 1px red, -3px 2px 1px red, 3px -2px 1px red,
    -2px 3px 1px red, -2px -2px 1px red, -3px -2px 1px red, -2px -3px 1px red,
    -2px -1px 1px red, -1px -2px 1px red, -1px 2px 1px red, 2px -1px 1px red,
    1px -2px 1px red, -2px 1px 1px red, 2px 1px 1px red, 1px 2px 1px red,
    1px 3px 1px red, 3px 1px 1px red, -3px 1px 1px red, 1px -3px 1px red,
    -1px 3px 1px red, 3px -1px 1px red, -1px -3px 1px red, -3px -1px 1px red;
  font-family: "Victorian";
}
