.App {
  background-image: url("./_assets/barberback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
}

.icons {
  font-size: 4rem;
  color: white;
  cursor: pointer;
  /* margin-bottom: 1.6rem; */
}

.icons:hover {
  transform: scale(1.1, 1.1);
}

.razor {
  width: 4rem;
  height: auto;
  pointer-events: none;
}

.links {
  color: red;
}

.links:hover {
  transform: scale(1.1, 1.1);
}

.btn {
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}
